.column {
    float: left; 
    height: 100px;
    width: 100%;
    background-color: #e84610;
    border-radius: 3px;
    margin: 10px 0;
    }


@media (min-width: 992px) {
    /* overwrites bg color on 18th line */
    .column {
        width: 30%;
        margin: 10px;
        }
    }

